.vs/*
.DS_Store
*.meta
*/*.DS_Store
*/*.meta
Library/*
ProjectSettings/*
Spider Lunch.csproj
Spider Lunch.sln
/Temp/*
/UnityPackageManager/*
Assembly-CSharp.csproj
Spider-Lunch.sln
Spider-Lunch.userprefs
Spider_lunch.sln
Spider_lunch.userprefs
obj/

